.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}

.nav-logo {
  height: 50px;
  margin-right: 10px;
}

.nav-profile {
  height: 50px;
  margin-left: auto;
}

.navbar p {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

@media (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }

  .nav-logo {
    width: 150px;
  }

  .nav-profile {
    width: 60px;
  }
}
